<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<script type='text/javascript'
        src='https://cdn.firebase.com/v0/firebase-auth-client.js'>
</script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type='text/javascript'>
	function facebookLogin(){
		var chatRef = new Firebase('https://reqwip-launch.firebaseio.com/');
		var authClient = new FirebaseAuthClient(chatRef, function(error, user) {
  		if (error) {
    		// an error occurred while attempting login
    		console.log(error);
		} else if (user) {
    		// user authenticated with Firebase
    		console.log('User ID: ' + user.id + ', Provider: ' + user.provider);
 	 	} else {
    		// user is logged out
  		}});
		authClient.login('facebook');
	};
</script>
<html class="no-js">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>User Board</title>
		<meta name="description" content="" />
		<meta name="author" content="Jonathan" />

		<meta name="viewport" content="width=device-width" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="stylesheet" href="css/bootstrap.min.css" media="screen" />
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<script data-main="js/main" src="js/require.js"></script>

	</head>

	<body>
		<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		<div class="container-fluid">
			<header>
				<div class="navbar navbar-fixed-top">
				  <div class="navbar-inner">
  				    <ul class="nav">
					  <li><a href="#">My Account</a></li>
  				      <li><a href="#">Log Out</a></li>
  				    </ul>
				    <a class="brand" href="#"><img src="img/reqwip_black.png"></a>
				  </div>
				</div>
			</header>
			<div class="row-fluid">
				<div id="content">
					
					<h1>reQwip - AWwwwSOME sports gear!!!</h1> <h2>Dan will give you a hug!</h2>
					<h1>nothing new</h1>
					<ul id="user-list" class="thumbnails">
						<li><h1>same old list</h1></li>
					</ul>
				</div>
				<img src="img/images.jpeg" />
				<div id="facebook-auth">
					<button id="facebook-auth-login" onclick="facebookLogin()">Log in with Facebook</button>
				</div>
			</div>

			<footer>
				<small>
					<a href="http://3daystartup.org/" target="_blank">&copy; reQwip! good job!</a>
				</small>
			</footer>
			
		</div>
		<div id="page-loader">Loading page...</div>
		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			
		</div>

		<script>
			/*
			 var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			 (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			 g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			 s.parentNode.insertBefore(g,s)}(document,'script'));
			 */
		</script>
		
		<script type="text/template" id="listing-template">
			<a class="thumbnail" data-id="<%= id %>" data-toggle="modal" data-target="#myModal"><li>
				<img src="<%= listingPicture %>" alt="">
				<h4><%= price %></h4>
				<h5><%= title %></h5>
				<h5><%= catagory %></h5>
				<h5><%= status %></h5>
			</li></a>
		</script>
		
		
		<script type="text/template" id="user-template">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Modal header <%- name %></h3>
			</div>
			<div class="modal-body">
				<div class="view">
					<a class="toggle"><%- email %></label>
				</div>
				<input class="edit" type="text" data-key="email" value="<%- email %>" />
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">
					Close
				</button>
				<button class="btn btn-primary">
					Save changes
				</button>
			</div>
			
		</script>
		
		
		
		<script type="text/template" id="user-list-template">
			<a class="thumbnail" data-id="<%= id %>" data-toggle="modal" data-target="#myModal"><li>
				<img src="<%= profile_picture %>" alt="">
				<h4><%= name %></h4>
				<h5><%= participant_role %></h5>
				<h5><%= email %></h5>
			</li></a>
		</script>
<!-- 		<img src="http://www.gravatar.com/avatar/9e029d00d3a3173b7005527df415f736?s=180" alt=""> -->
				
	</body>
</html>
